# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ConsoleApp23.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kikin\RiderProjects\ConsoleApp23\.idea\.idea.ConsoleApp23\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
